{% extends "base.html" %}

{% block title %}
<title>Aule Blog</title>
{% endblock %}

{% block meta_description %}
<meta name="Description" content="Blog programisty amatora który zamieszcza tutaj posty związane z etapami tworzenia
tego bloga w Django jak również innych aplikacji stworzonych przez niego w Django." />
{% endblock %}

{% block meta_keywords %}
<meta name="Keywords" content="Django, Blog, Tworzenie aplikacji, Python, Aplikacje w Django" />
{% endblock %}

{% block content %}
			{% for articles in article_all_pagination %}
            <h2 class="blog-post-title"><a href="{% url 'article' url_title=articles.url_title article_id=articles.id %}">{{ articles.title }}</a></h2>
            <p class="blog-post-meta"><strong>{{ articles.date_pub }}</strong> popełniony przez <strong>{{ articles.author }}</strong></p>
            <p>{{ articles.content|safe|escape|truncatechars:150 }}</p>
            <div class="row">
                <div class="col-sm-6">
                    <p class="coment-text text-left">Liczba odwiedzin: {{ articles.counter }}</p>
                </div>
                <div class="col-sm-6">
                    <p class="coment-text text-right">Komentarze: {{ articles.comment_set.count }}</p>
                </div>
            </div>
			<hr>
			{% endfor %}

			<div class="pagination">
   <span class="step-links">
        {% if page_filter.has_previous %}
            <a href="?page={{ article_all_pagination.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ article_all_pagination.number }} z {{ article_all_pagination.paginator.num_pages }}
        </span>

        {% if page_filter.has_next %}
            <a href="?page={{ article_all_pagination.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>
{% endblock %}

