{% extends "base.html" %}

{% block title %}
<title>Aule Blog {{ all_categories.category_name }}</title>
{% endblock %}

{% block meta_description %}
<meta name="Description" content='Wpisy powiązane z kategorią {{ all_categories.category_name }}' />
{% endblock %}

{% block meta_keywords %}
<meta name="Keywords" content='{{ all_categories.category_name }}' />
{% endblock %}


{% block content %}
			{% for wszystkie in choose_category %}
            <h2 class="blog-post-title"><a href="{% url 'article' url_title=wszystkie.url_title article_id=wszystkie.id %}">{{ wszystkie.title }}</a></h2>
            <p class="blog-post-meta"><strong>{{ wszystkie.date_pub }}</strong> popełniony przez <strong>{{ wszystkie.article_author }}</strong></p>
            <p>{{ wszystkie.content|safe|escape|truncatechars:150 }}</p>
            <div class="row">
                <div class="col-sm-6">
                    <p class="coment-text text-left">Liczba odwiedzin: {{ wszystkie.counter }}</p>
                </div>
                <div class="col-sm-6">
                    <p class="coment-text text-right">Komentarze: {{ wszystkie.comment_set.count }}</p>
                </div>
            </div>
			<hr>
			{% endfor %}
{% endblock %}

